.navbar-brand .navbar-item + .navbar-item {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

/* Modified from https://github.com/algolia/docsearch/blob/main/packages/docsearch-css/src/_variables.css */
.DocSearch {
    --docsearch-primary-color: #ff9800;

    --docsearch-highlight-color: var(--docsearch-primary-color);
    --docsearch-muted-color: rgb(159, 159, 159);
    --docsearch-container-background: rgba(48, 48, 48, 0.8);

    /* modal */
    --docsearch-modal-height: calc(max(600px, 100vh - 150px));
    --docsearch-modal-background: #212121;
    --docsearch-modal-shadow: inset 1px 1px 0 0 rgb(44, 44, 44), 0 3px 8px 0 rgb(0, 3, 9);;

    /* searchbox */
    --docsearch-searchbox-background: #303030;
    --docsearch-searchbox-focus-background: #212121;
    --docsearch-searchbox-shadow: inset 0 0 0 2px var(--docsearch-primary-color);

    /* hit */
    --docsearch-hit-color: rgb(195, 195, 195);
    --docsearch-hit-background: #303030;

    /* key */
    --docsearch-key-gradient: linear-gradient(
      -26.5deg,
      rgb(88, 88, 88) 0%,
      rgb(53, 53, 53) 100%
    );
    --docsearch-key-shadow: inset 0 -2px 0 0 rgb(40, 40, 40), inset 0 0 1px 1px rgb(81, 81, 81), 0 2px 2px 0 rgba(3, 4, 9, 0.3);

    /* footer */
    --docsearch-footer-background: #303030;
    --docsearch-footer-shadow: inset 0 1px 0 0 rgba(73, 73, 73, 0.5), 0 -4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
    .navbar-brand .navbar-item + .navbar-item {
        padding-left: 0;
        padding-right: 0;
    }

    .algolia-autocomplete .ds-dropdown-menu {
        min-width: calc(100vw - 2.75rem) !important;
    }
}

@media screen and (min-width: 1024px) {
    .navbar-brand {
        -ms-flex-positive: 1;
        -webkit-box-flex: 1;
        flex-grow: 1;
    }

    .navbar-menu {
        -ms-flex-positive: 0;
        -webkit-box-flex: 0;
        flex-grow: 0;
    }
}

#search-input {
    background: #424242;
    color: #ffffff;
    font-family: inherit;
    font-size: 0.95rem;
    width: 150px;
    border: 1px solid #656565;
    border-radius: 0.1em;
    line-height: 1.5;
    padding: 0 0.25em;
}

@media screen and (min-width: 769px) {
    #search-input {
        width: 200px;
    }
}

iframe.blueprint {
    width: 100%;
    height: 350px;
    margin: 1rem 0 0;
    border: 1px solid #ffffff;
}


iframe.blueprint + div:after {
    content: "Right-click to pan. Scroll wheel to zoom. Select nodes and press CTRL+C to copy them.";
    font-size: 0.7rem;
    position: relative;
    top: -0.5rem;
    font-style: italic;
}

.footer a {
    color: #fff;
}

.navbar {
    flex-wrap: wrap;
}

.version-warning {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background: orangered;
    color: #6A0E0E;
    flex-basis: 100%;
}

.version-warning a {
    color: #ffd900;
    font-style: italic;
}

.hidden {
    display: none;
}

span.version {
    // Keep versions in the picker from being split across multiple lines
    min-width: fit-content;
}
