.navbar-brand .navbar-item + .navbar-item {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

html .algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-] {
    max-height: calc(100vh - 3.25rem);
    background: #303030;
    border: 1px solid #424242;
}

html .algolia-autocomplete .algolia-docsearch-suggestion {
    background: #303030;
}

html .algolia-autocomplete .algolia-docsearch-suggestion--category-header,
html .algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
    color: #ff9800;
}

html .algolia-autocomplete .algolia-docsearch-suggestion--title,
html .algolia-autocomplete .algolia-docsearch-suggestion--text {
    color: #ffffff;
}

html .algolia-autocomplete .algolia-docsearch-suggestion--highlight {
    color: #009dff;
}

html .algolia-autocomplete .algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--category-header-lvl0 .algolia-docsearch-suggestion--highlight,
html .algolia-autocomplete .algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--category-header-lvl1 .algolia-docsearch-suggestion--highlight,
html .algolia-autocomplete .algolia-docsearch-suggestion--text .algolia-docsearch-suggestion--highlight {
    box-shadow: inset 0 -2px 0 0 rgba(0, 157, 255, .8);
}

html .algolia-autocomplete .ds-dropdown-menu:before {
    background: #303030;
}

@media screen and (max-width: 768px) {
    .navbar-brand .navbar-item + .navbar-item {
        padding-left: 0;
        padding-right: 0;
    }

    .algolia-autocomplete .ds-dropdown-menu {
        min-width: calc(100vw - 2.75rem) !important;
    }
}

@media screen and (min-width: 1024px) {
    .navbar-brand {
        -ms-flex-positive: 1;
        -webkit-box-flex: 1;
        flex-grow: 1;
    }

    .navbar-menu {
        -ms-flex-positive: 0;
        -webkit-box-flex: 0;
        flex-grow: 0;
    }
}

#search-input {
    background: #424242;
    color: #ffffff;
    font-family: inherit;
    font-size: 0.95rem;
    width: 150px;
    border: 1px solid #656565;
    border-radius: 0.1em;
    line-height: 1.5;
    padding: 0 0.25em;
}

@media screen and (min-width: 769px) {
    #search-input {
        width: 200px;
    }
}

iframe.blueprint {
    width: 100%;
    height: 350px;
    margin: 1rem 0 0;
    border: 1px solid #ffffff;
}


iframe.blueprint + div:after {
    content: "Right-click to pan. Scroll wheel to zoom. Select nodes and press CTRL+C to copy them.";
    font-size: 0.7rem;
    position: relative;
    top: -0.5rem;
    font-style: italic;
}
