<footer class="footer">
    <p>Except where otherwise noted, docs.ficsit.app is licensed under the <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU General Public License v3.0</a> (GPLv3).</p>
</footer>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript"> docsearch({
    apiKey: '53b3a8362ea7b391f63145996cfe8d82',
    indexName: 'ficsit',
    inputSelector: '#search-input',
    debug: false
});
</script>
