<footer class="footer">
    <p>Except where otherwise noted, docs.ficsit.app is licensed under the <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU General Public License v3.0</a> (GLPv3).</p>
</footer>
