<header class="header">
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
            <div class="navbar-item hide-for-print">
              <div id="docsearch"></div>
            </div>
            <button class="navbar-burger" data-target="topbar-nav">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div id="topbar-nav" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <div class="navbar-link">Satisfactory Modding</div>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="https://github.com/satisfactorymodding">GitHub</a>
                        <a class="navbar-item" href="https://github.com/satisfactorymodding/SatisfactoryModLoader">
                            Satisfactory Mod Loader
                        </a>
                        <a class="navbar-item" href="https://ficsit.app">Satisfactory Mod Repository</a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <div class="navbar-link">Community</div>
                    <div class="navbar-dropdown is-right">
                        <a class="navbar-item" href="https://discord.gg/xkVJ73E">Discord</a>
                        <a class="navbar-item" href="https://github.com/satisfactorymodding">GitHub</a>
                        <a class="navbar-item" href="https://forums.ficsit.app">Archived Forums</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="old-version-warning" class="version-warning hidden" style="height:70vh">
            You are viewing an <strong>outdated</strong> version of the docs!<br>
            Information here is probably out of date and could give you incorrect directions!<br>
            This warning message is so massive because people keep ignoring it!<br>
            <a href="https://docs.ficsit.app/satisfactory-modding/latest/index.html">
                Click here to view the latest,
            </a>
            or
            <a href="javascript:void(0);" onclick="hide_version_warning()">
                here to hide the warning.
            </a>
            <br> <br> <br>
        </div>
        <div id="dev-version-warning" class="version-warning hidden" style="max-height:5.5rem">
            You are viewing the <strong>development</strong> version of the docs!<br>
            Information here could be inconsistent with other pages,
            or apply to features that have not been released yet.<br>
            <a href="https://docs.ficsit.app/satisfactory-modding/latest/index.html">
                Click here to view stable,
            </a>
            or
            <a href="javascript:void(0);" onclick="hide_version_warning()">
                here to hide the warning.
            </a>
            <br> <br> <br>
        </div>
    </nav>
    <script>
        function hide_version_warning() {
            document.querySelector('#old-version-warning').classList.add("hidden");
            document.querySelector('#dev-version-warning').classList.add("hidden");
            document.querySelector("header.header").style['margin-bottom'] = '0.0rem';
        }

        /* In its own function to allow easier dev testing */
        function display_warnings(pageLocation) {
            if (pageLocation.includes("satisfactory-modding") && !pageLocation.includes("latest")) {
                document.querySelector("#old-version-warning").classList.remove("hidden");
                document.querySelector("header.header").style['margin-bottom'] = '2.5rem';
            } else if (pageLocation.includes("satisfactory-modding") && pageLocation.includes("docs-dev")) {
                document.querySelector("#dev-version-warning").classList.remove("hidden");
                document.querySelector("header.header").style['margin-bottom'] = '5.5rem';
            }
        }
        display_warnings(window.location.href);
    </script>
</header>