<header class="header">
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
            <div class="navbar-item hide-for-print">
                <input id="search-input" type="text" placeholder="Search docs">
            </div>
            <button class="navbar-burger" data-target="topbar-nav">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div id="topbar-nav" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <div class="navbar-link">Satisfactory Modding</div>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="https://github.com/satisfactorymodding">GitHub</a>
                        <a class="navbar-item" href="https://github.com/satisfactorymodding/SatisfactoryModLoader">Satisfactory Mod Loader</a>
                        <a class="navbar-item" href="https://ficsit.app">Satisfactory Mod Repository</a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <div class="navbar-link">Community</div>
                    <div class="navbar-dropdown is-right">
                        <a class="navbar-item" href="https://discord.gg/xkVJ73E">Discord</a>
                        <a class="navbar-item" href="https://forums.ficsit.app">Forums</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div id="old-version-warning" class="version-warning hidden">
        <br> <br> <br>
        <h2>⚠️ You are currently viewing an OUTDATED version of the docs! ⚠️</h2>
        <a href="https://docs.ficsit.app/satisfactory-modding/latest/index.html">
            <input type='button' value='Oops! Take me to latest!' id='old-oops-button'/>
        </a>
        <input type='button' value='Dismiss' onclick="hide_old_version_warning();" />
        <br> <br> <br>
    </div>
    <div id="dev-version-warning" class="version-warning hidden">
        <h3> You are currently viewing the IN-DEVELOPMENT version of the docs!<br>
            Information here could be inconsistent with other pages,
            or involve features that have not been released yet.<br></h3>
        <a href="https://docs.ficsit.app/satisfactory-modding/latest/index.html">
            <input type='button' value='Oops! Take me to stable!'/>
        </a>
        <input type='button' value='Dismiss' onclick="hide_dev_version_warning();" />
        <br> <br> <br>
    </div>
    <script>
        function show_old_version_warning() {
            document.querySelector('#old-version-warning').classList.remove("hidden");
            console.log("Showing outdated warning banner");
        }

        function hide_old_version_warning() {
            document.querySelector('#old-version-warning').classList.add("hidden");
            console.log("Hiding outdated warning banner");
        }

        function show_dev_version_warning() {
            document.querySelector('#dev-version-warning').classList.remove("hidden");
            console.log("Showing dev warning banner");
        }

        function hide_dev_version_warning() {
            document.querySelector('#old-version-warning').classList.add("hidden");
            console.log("Hiding dev warning banner");
        }

        var pageLocation = window.location.href;
        if (pageLocation.includes("satisfactory-modding") && !pageLocation.includes("latest")) {
            show_old_version_warning();
        } else if (pageLocation.includes("satisfactory-modding") && pageLocation.includes("docs-dev")) {
            show_dev_version_warning();
        }
    </script>
</header>
