name: PR

on: pull_request

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9

      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm install

      - name: Build
        run: npm run build:ci

      - id: lychee-main
        name: Check for Broken Links (Main Docs)
        uses: lycheeverse/lychee-action@v1
        with:
          args: --verbose --exclude-all-private --no-progress --accept '200,429' --github-token '${{ secrets.LYCHEE_TOKEN }}' './build/site/satisfactory-modding/**/*.html'
          fail: true

      - id: lychee-submods
        name: Check for Broken Links (Subsites)
        uses: lycheeverse/lychee-action@v1
        with:
          # TODO there surely must be a better way to do this
          # exclude the main docs dir from this check to avoid doing work twice
          # maybe use separate lychee configs to use their exclude_path option?
          args: --verbose --exclude-all-private --no-progress --accept '200,429' --github-token '${{ secrets.LYCHEE_TOKEN }}' './build/site/[!s][!a][!t][!i]*/**/*.html'
          fail: false

  image:
    name: Image
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Docker image (without pushing)
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
